img[alt~="coffeebackground"] {
  display: block;
  margin: auto;
  border: 5px solid white;
}
.WelcomeText {
  text-align: center;
  font-size: 95px;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  color: #2a1a1f;
  margin: 1%;
}
.homecontainer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

* {
  box-sizing: border-box;
}
/* Mobile */
@media (max-width: 767px) {
  .homecontainer{
    display: flex;
    flex-direction:column;
    padding: 5%;
  }
}
.aboutus {
  background-color: #2a1a1f;
  color: #cdaca1;
  margin-left: 1%;
  padding: 5%;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
.slideshow-container {
  max-width: 250px;
  position: relative;
  margin: auto;
  display: block;
  margin-left: auto;
}
.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
