/* Mobile first CSS */
#product-grid {
  width: 80%;
  padding: 10px;
  margin: auto;
  display: grid;
  gap: 20px;
}

.product-card {
  border: 1px solid #ccc;
  text-align: center;
}

/* Makes image fit inside of the cards */
.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Desktop */
@media (min-width: 768px) {
  #product-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
  }
}

.column {
  text-align: center;
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15%;
  padding: 5px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border: #ffffff 5px solid;
}
.productrow1::after {
  content: "";
  clear: both;
  display: table;
}
.productrow2::after {
  content: "";
  clear: both;
  display: table;
}
