@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

.HomeBody {
  padding: 0%;
  margin: 0%;
  background-color: #cdaca1;
}
.ContactBody {
  padding: 0%;
  margin: 0%;
  background-color: #cdaca1;
}
.ProductBody {
  padding: 0%;
  margin: 0%;
  background-color: #cdaca1;
}
.navbar{
  font-size: x-large;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #003844;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #d7fdf0;
  text-decoration: none;
}
footer {
  text-align: end;
  font-size: x-large;
  background-color: #006c67;
  padding-right: 1%;
  color: #d7fdf0;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Desktop */
@media (min-width: 768px) {
  nav ul {
    display: flex;
  }
  nav ul li a {
    margin: 5px;
  }
}

/* TODO for mobile make "About Us" and the slide show on top of each other */