.HomeBody {
  padding: 0%;
  margin: 0%;
  background-color: #cdaca1;
}
.ContactBody {
  padding: 0%;
  margin: 0%;
  background-color: #cdaca1;
}
.ProductBody {
  padding: 0%;
  margin: 0%;
  background-color: #cdaca1;
}
.topnav1 {
  font-size: x-large;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #003844;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #d7fdf0;
  text-decoration: none;
}

footer {
  text-align: end;
  font-size: x-large;
  background-color: #006c67;
  padding-right: 1%;
  color: #d7fdf0;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}
