.HomeBody {
  padding: 0%;
  margin: 0%;
  background-color: #cdaca1;
}
.ContactBody {
  padding: 0%;
  margin: 0%;
  background-color: #cdaca1;
}
.ProductBody {
  padding: 0%;
  margin: 0%;
  background-color: #cdaca1;
}
.topnav1 {
  font-size: x-large;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #003844;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #d7fdf0;
  text-decoration: none;
}
.topnav {
  overflow: hidden;
  background-color: #2a1a1f;
  position: relative;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: none;
}
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 2%;
  color: #ffffff;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.active {
  background-color: #2a1a1f;
}
footer {
  text-align: end;
  font-size: x-large;
  background-color: #006c67;
  padding-right: 1%;
  color: #d7fdf0;
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Desktop */
@media (min-width: 768px) {
  nav ul {
    display: flex;
  }
  nav ul li a {
    margin: 5px;
  }
}
